<%- include(`${xdevkitComponentPath}head.ejs`, { title, description, author, })  %>
  <%- include(`${xdevkitComponentPath}includeCss.ejs`, { inlineCssList, externalCssList, isProduction, })  %>
  <body class='flex flex-col' x-data>
    <div x-init="setupAlpine()"></div>
    <%- include(`${componentPath}nav.ejs`)  %>
    <%- include(`${xdevkitComponentPath}notification.ejs`)  %>
    <%- include(`${xdevkitComponentPath}breadcrumb.ejs`, { breadcrumbList })  %>

    <%- include(`${componentPath}sidemenu.ejs`)  %>
    <%- include(`${componentPath}cardList.ejs`)  %>

    <%- include(`${componentPath}modal2.ejs`)  %>
    <%- include(`${xdevkitComponentPath}tab.ejs`)  %>
    <%- include(`${xdevkitComponentPath}loading.ejs`)  %>
    <%- include(`${xdevkitComponentPath}modal.ejs`)  %>
    <div id='hiddenForTailwindByJs' class='hidden w-full h-96 p-1 bg-gray-500 rounded-xl bg-gray-100 w-1/4 flex-wrap'></div>
  </body>
  <%- include(`${xdevkitComponentPath}includeJs.ejs`, { inlineScriptList, externalScriptList, isProduction, })  %>


